<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Changer la période:</h1>

<form th:action="@{/change-period}"
      th:object="${taskQueryform}" method="POST">
    Début:
    <input type="date" th:field="*{dateMin}" />
    <br/>
    Fin:
    <input type="date" th:field="*{dateMax}" />
    <br/>
    <input type="submit" value="change" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>