<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Origami</h1>
<form th:action="@{/origami-list}" th:object="${taskQueryDto}" method="POST">
    Début:
    <input type="date" th:field="*{dateMin}" />
    &emsp;
     Fin:
    <input type="date" th:field="*{dateMax}" />
    &emsp;
    <input type="submit" value="change" />
</form>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Origami</th>
            <th>Temps Passé (en jours)</th>
        </tr>
        <tr th:each ="origamiResponse : ${origamiResponses}">
            <td th:utext="${origamiResponse.origami}">...</td>
            <td th:utext="${origamiResponse.durationInDays}">...</td>
        </tr>
    </table>
</div>

</body>
</html>